body{
    background-color: rgb(202, 245, 194);
   font-family: Arial, sans-serif;
   background-image: url(Imagenes/giro2.jpg);
   background-repeat: no-repeat;
   color: #ffffff;
   background-attachment: fixed;
   background-size: cover;
   font-family: 'Schibsted Grotesk', sans-serif;
  }

nav i{
  font-size: 1.5rem;
  width: 25px;
  color: aliceblue;
  display: flex;
  }

.container{
    padding-block-start: 25px;
    font-family: 'Schibsted Grotesk', sans-serif;

}
.card{
    margin: 30px 15px 30px 15px;
    border-radius: 5%;
    background: #808080;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3fada8, #808080);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3fada8, #808080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Schibsted Grotesk', sans-serif;

}

   
.row{
    display: flex;
    justify-content: center;
    font-family: 'Schibsted Grotesk', sans-serif;
    
}

.btn{
    display: flex;
    margin: auto;
    padding: 5px;
    align-items: stretch;
    justify-content: center;
}

/* formulario */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;  
    border: 1px solid #ccc; 
    background-color: rgb(186, 197, 229);
    border-radius: 5%;
    color: black;
    background: #808080;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3fada8, #808080);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3fada8, #808080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  
  label, input, select, textarea {
    margin-bottom: 10px;
    width: 100%;
  }
  
  input[type="submit"] {
    width: auto;
    margin: 10px auto 0;
    
  }

  /* quienessomos */

   
  #ph{
    width: 400px;
    justify-content: start;
    float: left;
    margin-right: 14px;
    
  }

  section{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 14px;
    background: #808080;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3fada8, #808080);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3fada8, #808080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

  }
  .info1{
    display: flex;
    column-gap: 14px;
    padding: 14px;
    background: #808080;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3fada8, #808080);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3fada8, #808080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  h1{
    color: rgb(16, 16, 16);
    text-align: center;
    font-family: 'Schibsted Grotesk', sans-serif;
  }
p{
    flex-wrap: wrap;
    color: rgb(16, 16, 16);
    text-align: justify;
    font-family: 'Schibsted Grotesk', sans-serif;
}


footer{
  min-height: 150px;
  background-color: rgb(26, 25, 25);
  padding: 20px;
}
footer p{
  color: aliceblue;
  font-family: 'Schibsted Grotesk', sans-serif;
  font-size: 1rem;
}
footer a{
  width: 50px;
  color: aliceblue;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid aliceblue;
  border-radius: 50%;

}



footer i{
  color: aliceblue;
 font-size: 1.5rem;
 
}
.modal-body{
  color: black;
}

/* carrusel */




  
